<div class="container">
  <h2>{{message}}</h2>

  <h1>Cadastro de Mangás <img src="https://imagensemoldes.com.br/wp-content/uploads/2020/05/Esfera-do-Drag%C3%A3o-Goku-PNG.png" alt="Imagem da esfera do dragão" class="dragon-ball"></h1>

  <div>
    <a href="/users/add">Adicionar Mangás</a>
    <a href="/users/allUsers">Ver Mangás</a>
  </div>
</div>