<h1>Adicionar Mangá</h1>
<form action="/users/add" method="post">
  <input type="text" name="name" placeholder="Nome" />
  <input type="text" name="tipo" placeholder="Tipo" />
  <input type="number" name="volumes" placeholder="Volumes" />
  <input type="submit" value="Cadastrar" class="btn"/>
</form>